@{
    ViewBag.Title = "Index";
}



<script src="/js/jquery-1.8.0.min.js" type="text/javascript"></script>


<script type="text/javascript">
   
    function find() {
        var id = $('#personId').val();


        $.ajax({
            url: "/Home/cc/" + id,
            success: function (data) {

                alert(data)
            }
        });







      
    }
</script>


<div class="main-content">
    <div>
        <h1>All Persons</h1>
        <ul id="persons" />
    </div>
    <div>
       
        <input type="text" id="personId" size="5" />
        <input type="button" value="Search" onclick="find()" />
        <p id="person" />
    </div>
</div>










